# Primary configurtation for a SIBIS installation for all operations related files.
project_name: TEST-NCANDA

# The path to where the project specific git repository is located.
analysis_dir: /fs/ncanda-share/

import_dir: /fs/storage

# The email address that should be used for reporting issues
email: ncanda-admin@sri.com

# The XNAT server URL
xnat:
  server:
  user:
  password:
  cachedir:

# The REDCap server URL
redcap:
  server:
  import_laptops_token:
  data_entry_token:
  import_webcnp_token:
  user: 
  verify:

redcap-mysql:
  hostname:
  port: 
  db:
  user:
  passwd:

github:
   user:
   password:
   org:
   repo:

svn_laptop:
   user: 
   password: 

penncnp:
   user: 
   password: 

synapse:
   user:
   password:
  
